<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simão Mata">
    <meta name="description" content="Web app to backup your entire spotify account">
    <title>Spotify Backup</title>

    <link rel="stylesheet" href="{{ base_path | safe }}/static/roboto.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="{{ base_path | safe }}/static/miligram.css">
</head>
<body>

{% block content %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

</body>
</html>
